{% extends 'base.html.twig' %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{{ app.request.schemeAndHttpHost }}/produtos/">Produtos</a></li>
	<li class="breadcrumb-item">Produto</li>
{% endblock %}

{% block buttons %}
	<a href="{{ app.request.schemeAndHttpHost }}/produtos/" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-sm-12 col-lg-8 offset-lg-2">
			{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.codigo) }}
					{{ form_widget(form.codigo) }}
				</div>
				<div class="form-group">
					{{ form_label(form.descricao) }}
					{{ form_widget(form.descricao) }}
				</div>
				<div class="form-group">
					{{ form_label(form.preco) }}
					{{ form_widget(form.preco) }}
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-lg-6 offset-lg-3">
						{{ form_widget(form.save) }}
					</div>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}