{% extends 'base.html.twig' %}

{% block breadcrumb %}
	<li class="breadcrumb-item">Vendas</li>
{% endblock %}

{% block buttons %}
	<a href="{{ app.request.schemeAndHttpHost }}/vendas/registration/" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nova venda</a>
{% endblock %}

{% block body %}
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
			<th>Data</th>
			<th >Nº Documento</th>
			<th >Status</th>
			<th class="text-right">Valor Total</th>
			<th width="15%" class="text-right"></th>
			</thead>
			<tbody>
			{% for venda in collVendas %}
				<tr>
					<td data-title="Data"><span class="text-muted">20/01/2019<br><small>15:57</small></span></td>
					<td data-title="Nº Documento"><b>{{ venda.getId() }}</b></td>
					<td data-title="Status">
						{% if venda.inProgress() %}
							<label class="text-warning"><i class="fa fa-clock"></i> Em Andamento</label>
						{% endif %}
						{% if venda.isConfirmed() %}
							<label class="text-success"><i class="fa fa-check"></i> Confirmado</label>
						{% endif %}
					</td>
					<td data-title="Valor Total" class="text-right"><b>R$ {{ venda.getValorTotal()|number_format(2, '.', '.') }}</b></td>
					<td class="text-right">
						{% if venda.inProgress() %}
							<a
								title="Editar"
								data-toggle="tooltip"
								href="/venda/registration/{{ venda.getId() }}"
							><i class="fa fa-edit"></i> Editar</a>
						{% endif %}
						{% if venda.isConfirmed() %}
							<a
								title="Visualizar"
								data-toggle="tooltip"
								href="/venda/view/{{ venda.getId() }}"
							><i class="fa fa-eye"></i> Visualizar</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			{% if collVendas is empty %}
				<tr>
					<td colspan="4">Nenhuma venda encontrado!</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}

