{% extends 'base.html.twig' %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{{ app.request.schemeAndHttpHost }}/vendas">Vendas</a></li>
	<li class="breadcrumb-item">Venda</li>
{% endblock %}

{% block buttons %}
	<a href="{{ app.request.pathinfo }}/confirm/" class="btn btn-success {{ collVendaProduto is empty ? 'disabled' : '' }}" ><i class="fa fa-check"></i> Confirmar Venda</a>
	<a href="{{ app.request.schemeAndHttpHost }}/vendas/" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xs-12 col-xl-6">
			<form action="{{ app.request.pathinfo }}/add" type="submit">
				<div class="card">
					<div class="card-header">
						<div class="pull-left">
							<h5>Produtos</h5>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Adicionar</button>
						</div>
					</div>
					<div class="card-header">
						<div class="table-responsive">
							<table class="table table-condensed" data-toggle="data-table" width="100%" cellspacing="0">
								<thead>
								<th width="20%">Código</th>
								<th width="20%">Descrição</th>
								<th width="20%" class="text-right">Preço</th>
								<th >Qtde.</th>
								</thead>
								<tbody>
								{% for produto in collProdutos %}
									<tr>
										<td>{{ produto.getCodigo() }}</td>
										<td>{{ produto.getDescricao() }}</td>
										<td class="text-right">R$ {{ produto.getPreco()|number_format(2, ',', '.') }}</td>
										<td>
											<input
												type="number"
												name="produto[{{ produto.getId() }}]"
												value="0"
												data-toggle="touch-spin"
												min="0"
												class="form-control text-center"
												placeholder="0"
											/>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-xl-6">
			<div class="card">
				<div class="card-header">
					<div class="pull-left">
						<h5>Carrinho</h5>
					</div>
				</div>
				<div class="card-header">
					<div class="table-responsive">
						<table class="table table-condensed" width="100%" cellspacing="0">
							<thead>
							<th>Produto</th>
							<th class="text-right">Preço</th>
							<th class="text-center" width="20%">Qtde.</th>
							<th class="text-right">Total</th>
							</thead>
							<tbody>
							{% for item in collVendaProduto %}
								<tr>
									<td>
										{{ item.getProduto().getDescricao() }} <br>
										{{ item.getProduto().getCodigo() }}
									</td>
									<td class="text-right">R$ {{ item.getValorUnitario()|number_format(2, ',', '.') }}</td>
									<td class="text-center">
										{{ item.getQuantidade() }} un
										<br>
										<small><a href="{{ app.request.pathinfo }}/remove/{{ item.getId() }}" class="text-danger"><i class="fa fa-trash"></i> Remover</a></small>
									</td>
									<td class="text-right">R$ {{ item.getValorTotal()|number_format(2, ',', '.') }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer">
					<div class="pull-right">
						R$ {{ venda.getValorTotal()|number_format(2, ',', '.') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}